@media only screen and (max-width: 576px) {
    body {
        background-color: yellow;
    }
}

@media only screen and (min-width: 576px) {
    body {
        background-color: lightgreen;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: lightcoral;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: lightseagreen;
    }
}