body {
    background-color: #fafaee;
}

h1, h2 {
    background-color: lightgoldenrodyellow;
    text-align: center;
}

main {
    display: flex;
    margin: 2vw;
}

section {
    flex: auto;
}

nav {
    background-color: lightgoldenrodyellow;
}

nav>ul>li {
    display: inline-block;
}