/* uncomment next line to import external font */
/* @import url(https://fonts.googleapis.com/css2?family=Dancing+Script); */

h1 {
    text-align: center;
}

body {
    /* font-family: 'Dancing Script'; */
    font-style: italic;
}

p {
    font-size: 30px;
    color: red;
}
