.my20px {
    font-size: 20px;
}

.my30px {
    font-size: 30px;
}

.my05em {
    font-size: 0.5em;
}

.my50pc {
    font-size: 50%;
}

.my05rem {
    font-size: 0.5rem;
}

.my10vh {
    font-size: 10vh;
}

.my10vw {
    font-size: 10vw;
}
