div {
    background-color: lightskyblue;
}

#hello {
    margin-top: 10px;
    margin-bottom: 30px;
    border-width: 5px;
    border-style: solid;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: blue;
    width: 50vw;
    text-align: center;
}