/* rule for the "body" element */
body {
    background-color: gray;
}

/* rule for the "p" elements */
p {
    font-family: 'Courier New', Courier, monospace;
}

/* rule for classified elements */
.interesting {
    font-style: italic;
}

/* rule for identified element */
#danger {
    color: red;
    background-color: yellowgreen;
}

/* rule for any "em" in a "p" - directly or indirectly */
p em {
    color: lightblue;
}

/* rule for any "em" in a "p" - only directly */
p>i {
    color: darkblue;
}

/* rule for the elements selected by any given selector (OR) */
h3, h4, h5 {
    color: yellow;
}

/* rule for the elements selected by the given selector conjunction (AND) */
p.special {
    color: blue;
}
