header {
    text-align: center;
}

div {
    border: 1px solid black;
}

.flexContainer {
    display: flex;
    border: 1px solid black;
    padding: 10px;
}

article {
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
}

.flexGrow0 {
    flex-grow: 0;
    background-color: rgb(4, 252, 252);
}

.flexGrow1 {
    flex-grow: 1;
    background-color: rgb(19, 216, 216);
}

.flexGrow2 {
    flex-grow: 2;
    background-color: rgb(41, 156, 156);
}

.flexShrink0 {
    flex-shrink: 0;
    background-color: rgb(58, 252, 4);
}

.flexShrink1 {
    flex-shrink: 1;
    background-color: rgb(68, 207, 29);
}

.flexShrink2 {
    flex-shrink: 2;
    background-color: rgb(71, 141, 52);
}

.noneFlex {
    flex: none;
}

.initialFlex {
    flex: initial;
}

.autoFlex {
    flex: auto;
}

.oneFlex {
    flex: 1;
}

.twoFlex {
    flex: 2;
}

.box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
}

#container1 {
    display: flex;
    height: 300px;
    border: 2px solid black;
}
