#container {
    background-color: yellow;
    padding: 10px;
    display: flow-root;
}

.boxLeft {
    float: left;
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 10px;
}

.boxRight {
    float: right;
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 10px;
}

.green {
    background-color: lightgreen;
}

.cleared {
    clear: left;
}