table {
    margin-top: 20px;
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid red;
    padding: 3px;
    text-align: center;
}

th {
    background-color: lightblue;
}

td {
    background-color: lightgreen;
}

tfoot {
    border: 2px solid darkgreen;
}